body {
	margin: 0px;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: #ffffff;
}

h1 {
	font-size: 140px;
	font-weight: 400;
	margin:0px;
}

p {
	font-size: 30px;
}

img {
	margin: -5px 0px;
	width: 100%;
}

#main {
	width: 100%;
}

#startingBlock {
	background-image:url('../img/1.jpg');
  	background-size: 100% 100%;
	width: 100%;
}

#title {
	width: 800px;
	margin: auto;
}